.header {
	margin: 5px auto ;
	color: white;
	padding: 5px;
	background-image: linear-gradient(to right, #3a1c71, #d76d77);
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 2px 10px black;
	text-overflow: ellipsis;
	width: 80%;
	border-radius: 40px;
	box-shadow: 2px 10px 20px #1c1c1c;
	z-index: 1;

}