<div class="footer">
	<div class="footer-elements text-light text-center">
		<h1> Designed with <i class="fas fa-heart"></i> by Yuvraj Dagur</h1>
		<ul class="nav">
			<li class="nav-items" id="github"><a href="https://github.com/thatfreakcoder/AngularWeatherApp">
					<h2><i class="fa fa-github"></i><h4 class="text-center">  View on GitHub</h4></h2>
				</a></li>
			<li class="nav-items" id="linkedin"><a href="https://">
					<h2><i class="fa fa-linkedin"></i><h4 class="text-center">  Let's Connect</h4></h2>
				</a></li>
			<li class="nav-items" id="instagram"><a href="https://">
					<h2><i class="fa fa-instagram"></i><h4 class="text-center">  Follow</h4></h2>
				</a></li>
		</ul>
	</div>
</div>